body{
    margin: 0;
}
header{
}


/* #iddiv{
    display: inline-blo;
} */
.h2div{
    color:#454545;
    display: inline-block;
    margin-top: 0%;
    font-family: 'Funkydori', cursive;

}
#pfont{
    font-style: italic;
}

#imgdiv{
    width: 100px;
margin-bottom: 0;}
#pfont{
    font-size: 10px;
}
#secflo{
    float: left;
}
#sec2{
    clear: left;
    /* float: right; */
    
    text-align: end;
    margin-top: 10px;

    
}
.div2{
    /* clear: right; */
    height: 20px;
    background-color: #ebebeb;
    margin-top: 20px;
}
#choco h1{
    color: #4f4338;
}
#post h5{
color:#DDDDDD ;
margin-top: 0px;
}
#prin{
    display: inline-block;
}
#post{
    float: left;
}
#sec3{
    text-align: end;
}
#ar{
    width: 75%;
    margin: auto;
}
#sec5{
    width: 75%;
}
#sec6{
    background-image: url("../images/list-bg.png");

}
#check1{
    display: inline-block;
    width: 50%;
    margin-left: 40px;
}
#check2{
    display: inline-block;
}
#div3{
    /* display: inline-block; */
}
.vanes{
    display: inline-block
}
#button1{
    
    margin-left: 100px;
    }

#div6{
text-align: center;
margin-top: 70px;
}

h5{
    color: #cbbcb0;
}
.vanes p{
    color: #bbc2c3;
}
#div6 p{
    color: #bbc2c3;
}
#button2{
    background-color: #bc7058;
    color: white;
    width: 150px;
    height: 40px;
}